/*  your css code here. If applicable */
.container{
	width:400px;
	height:100px;
	display:flex;
	text-align:center;
	justify-content:center;
	border-radius:25px;
	background-color:grey;
	padding:20px 15px;
	gap:20px;
	/* flex-basis:25% */
}

.green{
	/* width:25%;
	height:90%; */
		flex-basis:30%;

	background-color:green;
	border-radius:50%;
}
.yellow{
	/* width:25%;
	height:90%; */
		flex-basis:30%;

	background-color:yellow;
	border-radius:50%;
}
.red{
	/* width:25%;
	height:90%; */
	flex-basis:30%;
	background-color:red;
	border-radius:50%;
}